html,
body,
#app,
.el-container,
.el-main {
	/*设置内部填充为0，几个布局元素之间没有间距*/
	padding: 0px;
	/*外部间距也是如此设置*/
	margin: 0px;
	/*统一设置高度为100%*/
	height: 100%;
	min-width: 48rem;
}

body {
	background-color: #F4F8FE;
	overflow: hidden;
}
.el-main{
	margin-bottom: 2rem;
}
.cor{
	color: #484443;
}
* {
	font-size: .465rem;
}

.el-footer {
	background-color: #474747;
	text-align: center;
	color: #FFFFFF;
	z-index: 2001;
	position: fixed;
	bottom: 0;
	width: 100%;
	min-width: 48rem;
}

.el-header {
	background-color: #FFFFFF;
	line-height: 2rem;
	z-index: 101;
}

.el-footer {
	line-height: 2rem;
}

.el-header-img {
	width: 1.5rem;
	padding-top: .16rem;
}

.el-header-img1 {
	width: 1.8rem;
	margin-left: .7rem;
	padding-top: .7rem;
}

.el-header-top div {
	float: left;
}

.el-header-xian {
	margin: 0 1rem;
	width: 1px;
	height: 1rem;
	background-color: #484443;
	margin-top: .5rem;
}

.el-lan ,.ellan{
	color: #306EF3;
}

.cursor {
	cursor: pointer;
}

.el-header-top1 div {
	float: right;
}

.zhin {
	margin: 0 .5rem;
}

.el-aside {
	padding: .3rem;
}

.background-color-bai {
	background-color: #FFFFFF;
}

.el-aside-div {
	padding: 0 0 .2rem;
}

.xiaobiao {
	background-color: #FFFFFF;
	margin-left: .5rem;
}

.el-aside-div .el-button.is-round {
	padding: .15rem .2rem;
}

.xiahua {
	border-bottom: 1px #F0F0F0 solid;
}

.height {
	height: 100%;
}

.el-xiabu {
	text-align: center;
	line-height: 8rem;
	color: #73706F;
	font-size: .35rem;
}
.xiao-size,.el-tree-node__label{
	font-size: .35rem;
}
.pin {
	padding: .3rem;
}

.div1 {
	width: 10rem;
	height: 6.3rem;
	margin: 0 auto;
	margin-top: 30px;
	position: fixed;
	border: 1px solid #F1F1F1;
	padding: .3rem;
	border-radius: .2rem;
	background-color: #FFFFFF;
	top: 3.1rem;
	-moz-box-shadow: 5px -4px 5px -2px #F1F1F1;
	box-shadow: 5px -4px 5px -2px #F1F1F1;
	overflow-y: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	z-index: 99;
}

.div1::before {
	z-index: 9999;
	content: "";
	width: 0;
	height: 0;
	border: 16px solid;
	position: fixed;
	top: 3rem;
	left: 7.8rem;
	border-color: transparent transparent #F1F1F1 transparent;
}

.div1::after {
	z-index: 9999;
	content: "";
	width: 0;
	height: 0;
	border: 16px solid;
	position: fixed;
	top: 3.04rem;
	left: 7.8rem;
	border-color: transparent transparent #FFFFFF transparent;
}

.xiaos {
	color: #73706F;
	font-size: .4rem;
	position: fixed;
	background-color: #FFFFFF;
	padding: .3rem 0;
	top: 4.1rem;
	width: 9.5rem;
}

.min {
	margin: .3rem 0;
}

.div1::-webkit-scrollbar {
	width: 0 !important
}

.el-sheng {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
}
.tecs{
	text-align: center;
}
.tecs:hover{
	color: coral;
}
.pin1{
	padding-left: .3rem;
}
.xiaomsd{
	padding: 1.5rem;
	line-height: 1rem;
}
.el-xiabus img{
	width: 5rem;
	margin-top: 3rem;
	margin-bottom: .5rem;
}
.el-xiabus{
	text-align: center;
	color: #73706F;
	font-size: .35rem;
}
.tan{
	position: fixed;
	border-radius: .2rem;
	/*padding: .3rem;*/
	top: 15rem;
	left: 3rem;
	width: 10rem;
	height: 5.5rem;
	border: 1px solid #F0F0F0;
}
.left{
	text-align: right;
}
.tan img,.add img{
	width: .5rem;
}
.lin-shan{
	line-height: 1.8rem;
}
.pin2{
	padding: 0 .2rem;
}
.center{
	text-align: center;
}
.an .el-button.is-round{
	padding: .2rem .4rem;
}
.an .el-button--info{
	background-color: #EFEFEF;
	color: #73706F;
	border: 1px solid #EFEFEF;
}
.add{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(42, 42, 42, 0.3);
	width: 100%;
	height: 100%;
	min-width: 48rem;
	z-index: 100;
}
.add-row{
	width: 12.5rem;
	background-color: #FFFFFF;
	position: absolute;
	top: 7rem;
	left: 11rem;
	border-radius: .2rem;
}
.pin3{
	padding-bottom: .5rem;
}
.pin4{
	padding: 0 .5rem;
}
.add-row .pin{
	padding: .4rem;
}
.pin5{
	padding: .3rem;
	padding-left: 0;
}
.el-tree,.el-tree-node__expand-icon{
	color: #484443;
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
	background-color: #EEF5FF;
	color: #306EF3;
}

.el-tree-node:focus > .el-tree-node__content {
    background-color: #EEF5FF;
	color: #306EF3;
}
.el-tree-node__content:hover {
    background-color: #EEF5FF;
	color: #306EF3;
}
.color-huang{
	color: #E2754A;
}
.center{
	text-align: center;
}
.bei{
	color: #FFFFFF;
	background-image: url(../images/beis.png);
	background-size:100% 100% ;
	height: 1.2rem;
	margin-bottom: 0.3rem;
}
.mei{
	border-radius: .2rem;
	border: 1px #E4E4E4 solid;
	border-radius: .2rem;
	height: 1rem;
	margin-bottom: .5rem;
}
.heiji{
	line-height: 1rem;
	margin-right: .5rem;
}
.xu{
	border: 1px #E4E4E4 dashed ;
	border-radius: .2rem;
}
.el-main::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 10px;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}

.el-main::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #01aaed;
}

.el-main::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	/*background: #273048;*/
}
.el-main{
	/*三角箭头的颜色*/
	scrollbar-arrow-color: #01aaed;
	/*滚动条滑块按钮的颜色*/
	scrollbar-face-color: #273048;
	/*滚动条整体颜色*/
	scrollbar-highlight-color: #273048;
	/*滚动条阴影*/
	scrollbar-shadow-color: #01aaed;
	/*滚动条轨道颜色*/
	scrollbar-track-color: #01aaed;
	/*滚动条3d亮色阴影边框的外观颜色——左边和上边的阴影色*/
	scrollbar-3dlight-color: #01aaed;
	/*滚动条3d暗色阴影边框的外观颜色——右边和下边的阴影色*/
	scrollbar-darkshadow-color: #01aaed;
	/*滚动条基准颜色*/
	scrollbar-base-color: #01aaed;
}
.xiaobiao span,.xiaobiao i{
	font-size: 12px;
}
.cor-hui{
	color: #73706F;
}
.heiji1{
	margin-right: .5rem;
	line-height: 1rem;
}
.links{
	line-height: .8rem;
}
.huidi{
	background-color: #F9F9F9;
	border-radius: .2rem;
}
.xiang{
	padding: .3rem;
}
.fix{
	position: fixed;
	width: 100%;
	min-width: 48rem;
}
.el-col{
	min-height: 1px;
}
.pin7{
	padding: .07rem .5rem;
	margin-left: .3rem;
	border-radius:2rem ;
}
.el-link--inner{
	color: #306EF3;
	font-size: 12px;
	margin-bottom: 4px;
}
.background-color-huang{
	background-color: #FFF2E0;
}
.pin9{
	padding: .4rem;
}
.margin-bottom{
	margin-bottom: 1rem;
}
.el-table--striped .el-table__body tr.el-table__row--striped td{
	background-color: #F6F6F6;
}
.color-lv{
	color: #028B23;
}
.flki{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 15%;
	text-align: center;
	background-color: rgba(43, 51, 63, 0.3);
	z-index: 100000;
}
.el-progress__text{
	color: #FFFFFF;
}
.el-pagination{
	text-align: right;
}
.ellan1{
	background-color: #60B9ED;
	padding: .15rem .5rem;
	color: #FFFFFF;
	border-radius: .5rem;
}
.floj{
	float: left;
	margin-right: .8rem;
}
.xiaolan{
	color: #60B9ED;
	margin-right: .2rem;
}
.xuanfsa{
	color: #FFFFFF;
	background-color: #60B9ED;
}
.bodekd{
	border: .5px solid #F1F1F1;
}
.floj1{
	float: left;
}
.imhgf{
	border-radius: 50%;
	width: 1.5rem;
	height: 1.6rem;
	background-color: #FFFFFF;
}
.el-popover{
	min-width: 100px;
}
.el-tree{
	/*margin-bottom: 5rem;*/
}
.el-avatar>img{
	width: 100%;
}
.el-menu--horizontal>.el-menu-item {
    height: 40px;
    line-height: 40px;
}